.projects-container {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 700px; 
}

.projects-list {
}

.pagination {
  
}

.gapgap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.page-link {
  
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 34px; 
  color: var(--color-primary);
}


