.title1{
    color: var(--color-primary);
    font-family: var(--font-secondy);
    font-size: 30px;
    font-weight: 700;
    
}

.title2{
    color: var(--color-secondy);
    font-family: var(--font-secondy);
    font-size: 25px;
    font-weight: 500;
   
}

.title3{
    color: var(--color-secondy);
    font-family: var(--font-secondy);
    font-size: 27x;
    font-weight: 500;
   
}

.paragraf{
    color: var(--color-primary);
    font-family: var(--font-secondy);
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

.paragrafTwo{
    color: var(--color-primary);
    font-family: var(--font-secondy);
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
}