.skills-container {
    max-width: 900px;
    margin: 0 auto;
    height: 600px;
}

.category-container {
  align-items: center;
  gap: 30px;
  
  margin: auto;
  display: flex;
  flex-direction: column;
}

.skills-list {
  display: flex;
  gap: 50px;
  width: 80%;
  flex-wrap: wrap;
}

.skills-image {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skills-image:hover {
  transform: scale(1.2);
  filter: brightness(0) invert(1);
};