.banner-section {
    
    display: flex;
    margin: 0 auto;
     height: 500px;
  
}
.banner-content {
    align-items: center;
    
}

.banner-info {
    text-align: center;
}



.banner-image-container {
    width: 200px;
    height: 150px;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.banner-image {
    
    
    border-radius: 50%;
}

@media (min-width: 300px) {
    .banner-section {
        max-width: 800px;
        
    }

    .banner-content {
        padding: 10px;
        align-items: center;
        margin: 0 auto;
        
    }

    .banner-info {
        margin-bottom: 20px; 
    }
    .banner-image-container{
        width: 150px;
    }

    

}
@media (min-width: 500px) {
    .banner-content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

 }



